<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- doneTODO #1 - Use a loop to display job results in a table. -->

<th:block th:each="jobItem : ${jobs}">

  <table class = "job-listing">

      <tr>
        <td>ID</td>
        <td  th:text = "${jobItem.id}"> </td>
      </tr>

      <tr>
        <td>Name</td>
        <td  th:text = "${jobItem.name}"> </td>
      </tr>

      <tr>
        <td>Employer</td>
        <td  th:text = "${jobItem.employer}" />
      </tr>

      <tr>
        <td>Location</td>
        <td  th:text = "${jobItem.location}" />
      </tr>

      <tr>
        <td>Position Type</td>
        <td  th:text = "${jobItem.positionType}" />
      </tr>

      <tr>
        <td>Skill</td>
        <td  th:text = "${jobItem.coreCompetency}" />
      </tr>

  </table>

</th:block>

</div>

</body>
</html>